
<div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Customer Account</h3>
                        </div>

                        <div class="col col-xs-6 text-right">

                            <button
                                    type="button"
                                    class="btn btn-sm btn-primary btn-create"
                                    ng-click="createUser()">
                              Create User
                            </button>
                        </div>
                    </div>
                </div>

        <div class="panel-body">

                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th>
                                <b align="center">First Name</b>
                            </th>
                            <th>
                                <b align="center">Last Name</b>
                            </th>
                            <th>
                                <b align="center">Credit</b>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr>

                            <td align="center">
                                <input type="text" class="form-control" ng-model="customer.firstName">
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" ng-model="customer.lastName" >
                            </td>

                            <td align="center">
                                <input type="text" class="form-control" ng-model="customer.credit">
                            </td>

                            </tr>
                        </tbody>
                    </table>

        </div>
    </div>
</div>

